[submodule "kgrep/module/sregex"]
	path = kgrep/module/sregex
	url = git@github.com:gharris1727/sregex.git
[submodule "ugrep/sregex"]
	path = ugrep/sregex
	url = git@github.com:gharris1727/sregex.git
[submodule "kagrep/module/grep"]
	path = kagrep/module/grep
	url = git@github.com:gharris1727/grep.git
[submodule "kagrep/cli/grep"]
	path = kagrep/cli/grep
	url = git@github.com:gharris1727/grep.git
